{% extends "bootstrap/base.html" %}

{% block title %}HFFquant{% endblock %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='stock.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='stock.png') }}" type="image/x-icon">
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HFFquant</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                    {% if 'admin' in session %}
                    <span class="navbar-text">
                        Welcome, {{session['admin']}}!
                    </span>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% else %}
                    <span class="navbar-text">
                        Hello, Stranger!
                    </span>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                    {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">简介</a></li>
                <li><a href="#">今日模型结果</a></li>
                <li><a href="#">历史持仓记录</a></li>
                <li><a href="#">累计收益率</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            {% block page_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}